title: "Daniel X Moore Presents - danielx.net"
description: """
  Pixel editors, Mario Paint Composer, GAMES! Fun! Amazement and amusement!
  Behold the wonders of danielx.net. Free web based tools that will tickle your 
  creative side!
"""
publishBranch: "master"
